<a href="https://colab.research.google.com/github/FranklinPablo/Actividad-1/blob/main/Actividad0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos librer√≠as requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [19]:
#Convertir en dataframe
df= pd.read_csv("file.csv")
df

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,2005,1,Nacional,Hombres,4384907,26597801,16.485975660000000000000
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
2,2005,1,Aguascalientes,Hombres,56407,246177,22.913188480000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
4,2005,1,Baja California,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...,...
4549,2022,1,Veracruz,Mujeres,107640,1190733,9.0398099320000000000000
4550,2022,1,Yucat n,Hombres,101992,691397,14.751582670000000000000
4551,2022,1,Yucat n,Mujeres,82759,478943,17.279509250000000000000
4552,2022,1,Zacatecas,Hombres,44105,402326,10.962503040000000000000
4553,2022,1,Zacatecas,Mujeres,39472,255761,15.43315830000000000000

In [4]:
#Imprimimos las primeras filas o registros del Dataframe
df.head(5)

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,2005,1,Nacional,Hombres,4384907,26597801,16.485975660000000000000
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
2,2005,1,Aguascalientes,Hombres,56407,246177,22.913188480000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
4,2005,1,Baja California,Hombres,167651,768989,21.801482210000000000000

In [17]:
#Filtro por objeto
filtro1=df[df["Sexo"]=="Mujeres"]
filtro1

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Mujeres,103697,398911,25.995021450000000000000
Baja California Sur,2005,1,Mujeres,4103,75648,5.4238049920000000000000
Campeche,2005,1,Mujeres,17935,110090,16.291216280000000000000
...,...,...,...,...,...,...
Tamaulipas,2022,1,Mujeres,148943,624871,23.835799710000000000000
Tlaxcala,2022,1,Mujeres,63801,241052,26.46773310000000000000
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [ ]:
filtro1=df[df["Sexo"]=="Hombres"]
filtro1

In [ ]:
filtro1=df[df["Entidad_Federativa"]=="Campeche"]
filtro1

In [ ]:
#Filtro por filas
#filtro2=df.iloc[300:302,:]
filtro2=df.iloc[[1000, 2000,3000], : ] #filas no consecutivas
filtro2=df.iloc[500: 550, : ] #filas consecutivas
filtro2

In [ ]:
#Filtro por columnas
filtro3=df.iloc[ :, 4:7 ] 
filtro3=df.iloc[:,[1,4,6] ] #columnas no consecutivas
filtro3

In [ ]:
#Filtro por columnas y filas
filtro_mix=df.iloc[[1000,2000,3000], 1:2]
filtro_mix

In [14]:
#Filtro por columnas y filas
filtro_mix=df.iloc[0:101, 2]
filtro_mix

0             Nacional
1             Nacional
2       Aguascalientes
3       Aguascalientes
4      Baja California
            ...
96              M xico
97              M xico
98           Michoac n
99           Michoac n
100            Morelos
Name: Entidad_Federativa, Length: 101, dtype: object

In [ ]:
#Filtro de filas vs columnas
#Paso 1: Leemos el contenido del archivo
from google.colab import files
uploaded=files.upload()
df= pd.read_csv(io.BytesIO(uploaded['file.csv']),index_col=2)
df

In [ ]:
#Paso 2: Aplicamos Filtro de filas vs columnas
filtro4=df.loc[["Puebla", "Durango"],["Poblacion_ocupada_en_la_industria_manufacturera"]]
filtro4

In [23]:
#Filtro por cabecera
filtro5=df.head()
filtro5

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000

In [ ]:
#Filtro por comparacion
filtro6=df[df["Periodo"]>2006]
filtro6

In [28]:
#Filtro Y
filtro7=df[(df["Periodo"]==2015)&(df["Sexo"]=="Hombres")]
filtro7

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2015,1,Hombres,5078477,31009993,16.37690470000000000000
Aguascalientes,2015,1,Hombres,81720,316943,25.783816020000000000000
Baja California,2015,1,Hombres,230590,928565,24.832941150000000000000
Baja California Sur,2015,1,Hombres,15397,218914,7.0333555640000000000000
Campeche,2015,1,Hombres,17259,252305,6.8405303110000000000000
...,...,...,...,...,...,...
Tamaulipas,2015,4,Hombres,199818,915086,21.835980440000000000000
Tlaxcala,2015,4,Hombres,76685,323208,23.726207270000000000000
Veracruz,2015,4,Hombres,204569,2041229,10.021854480000000000000
Yucat n,2015,4,Hombres,87582,597910,14.648023950000000000000
Zacatecas,2015,4,Hombres,37329,402571,9.2726500420000000000000